.title
{
    font-family: 'Arvo', serif;
    font-weight: bolder;
    color: #F2CB05;
    font-size: 42px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: -1px;
    line-height: 40px;
    border-style: groove;
    border-width: 4px;
    border-color: #6F04D9;
    background-color: #6F04D9;
}

.ContactButton
{
    background-color: #05F29B;
    font-family: 'Arvo', serif;
    color: #6805F2;
    font-size: 23px;
    text-align: left;
    text-decoration: none;
    border-color: #F2CB05;
    border-width: 3px;
    border-style: outset;
    display: inline-block;
    margin-bottom: 10px;
    margin-left: 77px;
}

.servicesButton
{

    background-color: #B22573;
    font-family: 'Arvo', serif;
    color: #B5F8FF;
    font-size: 23px;
    text-align: left;
    text-decoration: none;
    border-color: #F2CB05;
    border-width: 3px;
    border-style: outset;
    display: inline-block;
    margin-bottom: 10px;
    margin-left: 207px;
}

.homeButton
{
    background-color: #1265B8;
    font-family: 'Arvo', serif;
    color: #F8FFB8;
    font-size: 23px;
    text-align: left;
    text-decoration: none;
    border-color: #F2CB05;
    border-width: 3px;
    border-style: outset;
    display: inline-block;
    margin-bottom: 10px;
}

.contactButton:hover
{
    background-color: #6805F2;
    font-family: 'Arvo', serif;
    color: #05F29B;
    font-size: 23px;
    text-align: left;
    text-decoration: none;
    border-color: #F2CB05;
    border-width: 3px;
    border-style: outset;
    display: inline-block;
    margin-bottom: 10px;
    margin-left: 77px;
}

.homeButton:hover
{
    background-color: #F8FFB8;
    font-family: 'Arvo', serif;
    color: #1265B8;
    font-size: 23px;
    text-align: left;
    text-decoration: none;
    border-color: #F2CB05;
    border-width: 3px;
    border-style: outset;
    display: inline-block;
    margin-bottom: 10px;
}

.servicesButton:hover
{
    background-color: #B5F8FF;
    font-family: 'Arvo', serif;
    color: #B22573;
    font-size: 23px;
    text-align: left;
    text-decoration: none;
    border-color: #F2CB05;
    border-width: 3px;
    border-style: outset;
    display: inline-block;
    margin-bottom: 10px;
    margin-left: 207px;
}

.welcomeMsg
{
    font-family: Oxygen, sans-serif;
    text-align: center;
    font-size: 26px;
    color: #8EF5B8;
    background-color: #F47168;
    margin-left: 490px;
    margin-right: 30px;
    padding-top: 10px;
    margin-top: 30px;
    padding-bottom: 15px;
    border-color: #8EF5B8;
    border-width: 5px;
    border-style: ridge;
}


.contactTitle
{
    font-family: Oxygen, sans-serif;
    text-align: center;
    font-size: 26px;
    color: #7AF57A;
    background-color: #A84376;
    margin-left: 490px;
    margin-right: 30px;
    padding-top: 10px;
    margin-top: 30px;
    padding-bottom: 15px;
    border-color: #7AF57A;
    border-width: 5px;
    border-style: ridge;
}

.servicesTitle
{
    font-family: Oxygen, sans-serif;
    text-align: center;
    font-size: 26px;
    color: #FFE799;
    background-color: #3A48A8;
    margin-left: 490px;
    margin-right: 30px;
    padding-top: 10px;
    margin-top: 30px;
    padding-bottom: 15px;
    border-color: #FFE799;
    border-width: 5px;
    border-style: ridge;
}


.contentOfContact
{
    font-family: "Arvo", sans-serif;
    text-align: left;
    font-size: 22px;
    margin-right: 50px;
    background-color: white;
    margin-left: 540px;
    border-width: 5px;
    border-color: #A84376;
    border-style: ridge;
    padding: 10px;

}

.contentOfServices
{
    font-family: "Arvo", sans-serif;
    text-align: left;
    font-size: 22px;
    margin-right: 50px;
    background-color: white;
    margin-left: 540px;
    border-width: 5px;
    border-color: #3A48A8;
    border-style: ridge;
    padding: 10px;
}

.contentOfHome
{
    font-family: "Arvo", sans-serif;
    text-align: left;
    font-size: 22px;
    margin-right: 50px;
    background-color: white;
    margin-left: 540px;
    border-width: 5px;
    border-color: #F47168;
    border-style: ridge;
    padding: 10px;

}

div
{
    width: 305px;
    border: 17px;
    padding: 50px;
    margin: 22px;
    padding-top: 0px;
    margin-top: 0px;
    color: #000;
}

.signature
{
    font-family: 'Arvo', serif;
    color: #F56A00;
    font-size: 16px;
    text-align: center;
    line-height: 20px;
    border-style: groove;
    border-width: 4px;
    border-color: #65A1A8;
    background-color: #FFF;
    position: absolute;
    bottom: 15px;
}
